<div class="container mt-4">
  <h2 class="mb-4">Detalhes do Produto</h2>

  <div>
    <h4 class="fw-bold">{{produto.nome}}</h4>
    <p class="mb-2">
      <strong>Preço:</strong> {{produto.preco}}
    </p>
    <p class="mb-3">
      <strong>Disponibilidade:</strong> {{produto.estoque}}
    </p>
    
    <hr>
    
    <h5 class="fw-bold mb-3">Detalhes</h5>
    <ul>
      {{#each produto.detalhes}}
        <li>
          <strong>{{@key}}:</strong> {{this}}
        </li>
      {{/each}}
    </ul>

    <hr class="mt-4 mb-4">

    <div>
      <a href="/" class="btn btn-secondary">
        Voltar
      </a>
      <a href="/produto/comprar/{{produto._id}}" class="btn btn-success">
        <i class="bi bi-bag"></i> Comprar
      </a>
    </div>
  </div>
</div>
